.BgColor{
    background-color: black;
    position: fixed;
    width: 100%;
}

.NavBarMenu{
    display: flex;
    justify-content: space-between;
    max-width: 1232px;
    margin-inline: auto;
    padding-block: 24px;
    align-items: center;
}

.LogoImg{
    width: 170px;
    height: 64px;
}

.NavBarList{
    list-style: none;
    display: flex;
    gap: 24px;
}

.NavBarLink{
    color: white;
    text-decoration: none;
}

.NavBarLink.active{
    font-weight: 700;
}